<div class='jumbotron'>
    <h1>
        {{title}}
    </h1>
</div>
<div class='container-fluid'>
    <div class='row'>
        <div class='col-lg-3 col-lg-offset-3 text-center'>
            <a class="btn btn-primary" routerLink="/upload/file" routerLinkActive="active" href="javascript:void(0);">Upload a new file</a>
        </div>
        <div class='col-lg-3 col-offset-lg-3 text-center'>
            <a class="btn btn-success" routerLink="/view/uploads" routerLinkActive="active" href="javascript:void(0);">View uploaded files</a>
        </div>
    </div>
    <br>
    <div class='row'>
        <router-outlet></router-outlet>
    </div>
</div>